:root{
    --ff-primary: 'Hind', sans-serif;

    --clr-background: #E8E9EB;
}

body{
    font-family: var(--ff-primary);
    scroll-behavior: smooth;
    background-color: var(--clr-background);
}

::-webkit-scrollbar{
    display: none;
}

/* FORMULARIO INDEX.PHP */

.form-container{
    height: 80vh;
}

.form-group{
    margin-bottom: 1rem;
}

.checkbox-div{
    margin: 2rem 0;
    gap: 1rem;
}

.checkbox-label{
    font-weight: 700;
}

.date-div {
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.date-control{
    max-width: fit-content;
}

/* MENSAGERIA */

.msg {
    margin: 2rem 3rem 0 3rem;
    border-radius: 1rem;
    padding: 1rem;
}

.error {
    color: white;
    font-weight: 700;
    background-color: #dc3545;
}

.success {
    color: white;
    font-weight: 700;
    background-color: #198754;
}

.warning {
    color: black;
    font-weight: 700;
    background-color: #ffc107;
}

/*LOGIN*/
.login-container{
    height: 100vh;
}

.login-control{
    max-width: fit-content;
}

/* DASHBOARD */

.dashboard-section{
    margin: 2rem 0.25rem;
    padding: 2rem 0;
}

.new-section {
    border-width: 3px;
    border-style: solid;
    border-radius: 1.6rem;
    border-color: #0d6efd;
    background-color: #0d6dfd2a;
}

.processing-section {
    border-width: 3px;
    border-style: solid;
    border-radius: 1.6rem;
    border-color: #ffc107;
    background-color: #ffc1072a;
}

.posted-section {
    border-width: 3px;
    border-style: solid;
    border-radius: 1.6rem;
    border-color: #198754;
    background-color: #1987542a;
}



.order-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit); /* Ajuste o valor mínimo conforme necessário */
    gap:  1rem; /* Espaçamento entre os cartões */
    justify-items: start; /* Alinhamento horizontal dos cartões */
    align-items: start; /* Alinhamento vertical dos cartões */
    padding: 1rem;
}

.order-info-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    text-align: start;
}

.order-card {
    background-color: #fff; /* Cor de fundo do cartão */
    border:  1px solid #ddd; /* Borda do cartão */
    border-radius:  1rem; /* Bordas arredondadas */
    padding:  1rem; /* Padding interno do cartão */
    width: 100%;
}

.order-item{
    flex:  1; /* Each item takes equal width */
}

.order-card--new {
    box-shadow:  0  2px  4px rgba(13, 110, 253,  0.5); /* Sombra para dar profundidade */
}
.order-card--process {
    box-shadow:  0  2px  4px rgba(255, 193, 7,  0.5); /* Sombra para dar profundidade */
}
.order-card--posted{
    box-shadow:  0  2px  4px rgba(25, 135, 84,  0.5); /* Sombra para dar profundidade */
}


/* Estilização dos botões dentro do cartão */
.order-buttons {
    display: flex;
    justify-content: space-between; /* Espaçamento igual entre os botões */
    margin-top:  1rem; /* Espaçamento acima dos botões */
    gap: 1rem;
}

.order-btn{
    width: 100%;
}

/*Utils*/

.bold {
    font-weight: 700;
}
