:root{
    --ff-primary: 'Hind', sans-serif;
}

body{
    font-family: var(--ff-primary);
}

::-webkit-scrollbar{
    display: none;
}

.form-container{
    height: 80vh;
    margin-top: 2rem;
    padding: 3rem;
}

.form-group{
    margin-bottom: 1rem;
}

.checkbox-div{
    margin: 2rem 0;
    gap: 1rem;
}

.checkbox-label{
    font-weight: 700;
}

.date-div {
    margin-bottom: 4rem;
    margin-top: 2rem;
}