:root{
    --ff-primary: 'Hind', sans-serif;
}

body{
    font-family: var(--ff-primary);
}

::-webkit-scrollbar{
    display: none;
}

/* FORMULARIO INDEX.PHP */

.form-container{
    height: 90vh;
}

.form-group{
    margin-bottom: 1rem;
}

.checkbox-div{
    margin: 2rem 0;
    gap: 1rem;
}

.checkbox-label{
    font-weight: 700;
}

.date-div {
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.date-control{
    max-width: fit-content;
}

/* MENSAGERIA */

.msg {
    margin: 2rem 3rem 0 3rem;
    border-radius: 1rem;
    padding: 1rem;
}

.error {
    color: white;
    font-weight: 700;
    background-color: #dc3545;
}

.success {
    color: white;
    font-weight: 700;
    background-color: #198754;
}

.warning {
    color: black;
    font-weight: 700;
    background-color: #ffc107;
}

/*LOGIN*/
.login-container{
    height: 100vh;
}

.login-control{
    max-width: fit-content;
}
